

body {
  background-color: #000000;
  font-family: sans-serif;
}

style {
  background-image:none
}



h1 {
  font: bolder;
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
margin-top: 5%;
color: rgb(100, 2, 2);
}
 

h2 {
  text-align: left;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
}

#bar {
  background-color: white;
  height: 100px;
  width: 1000px;
}


/* 
code found on website: blalblabla on date /*